# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
venv/
.venv/

# PyInstaller
*.manifest
*.spec.bak

# Environment
.env

# Data & exports
data/*.db
exports/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
